footer#footer(style='background: transparent')
  #footer_icons
    div
      a.icon_link(target='_blank' rel='noopener' href='https://xiaoliu.life/' title='个人主页')
        i.fa-solid.fa-compass
      a.icon_link(href='mailto:1449584369@qq.com' rel='noopener external nofollow' title='发送邮件' data-pjax-state='')
        i.fa-solid.fa-envelope
    img.footer_logo(src='https://cdn.xiaoliu.life/about/head.jpg' onclick='btf.scrollToDest(0,500)' title='返回顶部')
    div
      a.icon_link(target='_blank' href='https://github.com/nibabashilkk' rel='noopener external nofollow' title='Github主页')
        i.fa-brands.fa-github
      a.icon_link(target='_blank' href='https://space.bilibili.com/484275822' rel='noopener external nofollow' title='哔哩哔哩主页')
        i.fa-brands.fa-bilibili
  #footer_content
    .footer-group
      h3.footer-title 直达
      .footer-links
        a.footer-item(href='/essay/' data-pjax-state='') 即刻短文
    .footer-group
      h3.footer-title 关于
      .footer-links
        a.footer-item(href='/about/' data-pjax-state='') 关于我
    .footer-group
      h3.footer-title 分类
      .footer-links
        a.footer-item(href='/categories/技术分享' data-pjax-state='') 技术分享
        a.footer-item(href='/categories/日常推荐' data-pjax-state='') 日创推荐
        a.footer-item(href='/categories/闲聊' data-pjax-state='') 闲聊
        a.footer-item(href='/categories/科学上网' data-pjax-state='') 科学上网
        a.footer-item(href='/categories/微信文章' data-pjax-state='') 微信文章
  #footer-bottom
    .footer-bottom-content
      .footer-bottom-left
        span
          | ©2021 - 2022 By 
          a(target='_blank' rel='noopener' href='https://xiaoliu.life' title='点击访问小刘的主页' style='margin-left:5px') 小刘
        div
          a.footer-bottom-link(target='_blank' href='https://www.foreverblog.cn/go.html' rel='noopener external nofollow' title='随机访问十年之约友链博客') 虫洞
          a.footer-bottom-link(target='_blank' href='https://www.foreverblog.cn/' rel='noopener external nofollow' title='十年之约') 十年之约
          a.footer-bottom-link(target='_blank' href='https://storeweb.cn/member/o/1462' rel='noopener external nofollow' title='个站商店') 个站商店
          a.footer-bottom-link(target='_blank' href='https://bf.zzxworld.com/s/691' rel='noopener external nofollow' title='BlogFinder') BlogFinder
      .footer-bottom-right
        #runtime(title='已运行时长') 
        div
          a.footer-bottom-link(target='_blank' href='https://hexo.io/zh-cn/' rel='noopener external nofollow' title='框架') Hexo
          a.footer-bottom-link(target='_blank' href='https://butterfly.js.org/' rel='noopener external nofollow' title='主题') Butterfly
          a.footer-bottom-link(target='_blank' href='https://beian.miit.gov.cn/' rel='noopener external nofollow' title='备案号') 豫ICP备2022024824号
